@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Jost";
}

#navbar {
  padding: 0.6rem;
  min-width: fit-content;
}

#navbar-title-sm {
  font-style: italic;
  font-size: 18px;
  color: rgb(31, 30, 30);
}

#navbar-title-lg {
  font-size: 24px;
  font-style: italic;
  padding-left: 1rem;
  color: rgb(31, 30, 30);
}

#nav-links {
  font-size: 22px;
}

#nav-links {
  position: relative;
  color: black; /* Color del texto del enlace */
  text-decoration: none; /* Eliminar subrayado predeterminado */
  padding-bottom: 5px; /* Espacio para la línea */
  transition: color 0.3s ease; /* Suavizar la transición del color */
}

#nav-links::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: black; /* Color de la línea */
  transition: width 0.3s ease, left 0.3s ease;
}

#nav-links:hover::after,
#nav-links:focus::after {
  width: 100%;
  left: 0;
}

#nav-links:hover,
#nav-links:focus {
  color: black; /* Cambiar el color del enlace al hacer hover o focus */
}

#navbar-title-lg:hover {
  color: #35945b;
}

#nav-links:hover {
  color: #35945b;
}

.aboutme-container {
  margin-top: 10rem;
}

.col-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.col-aboutme img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  align-self: center;
  object-fit: cover;
  margin-bottom: 3rem;
}

.col-aboutme h2 {
  font-size: 38px;
}

.col-aboutme span {
  width: 100%;
  font-size: 20px;
  word-spacing: 2px;
}

.col-aboutme button {
  margin: 2rem 1rem;
  width: 25%;
  border: none;
  color: black;
  background-color: white;
  outline: none;
  border: 2px solid black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.col-aboutme button:hover {
  background-color: black;
  color: white;
}

.col-aboutme button:focus {
  outline: none;
  background-color: white;
  color: black;
}

.aboutme-icons {
  display: inline-flex;
  justify-content: center;
  gap: 3rem;
}

.git-icon:hover,
.linkedin-icon:hover {
  color: #35945b;
}

@media (max-width: 768px) {
  .aboutme-container {
    margin-top: 5rem;
  }
}

@media (max-width: 576px) {
  .aboutme-container {
    margin-top: 3rem;
  }
}
